@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey-custom-100: 0 255 0
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-tid-grey-100: #6E7074;
  --color-tid-grey-200: #5E6282;
  --color-tid-red-100: #DF6951;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .flex-align-items-center {
    display: flex;
    align-items: center;
  }
}